
@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table border="1" cellpadding="5">
    <tr>Thông tin sinh viên</tr>
    <tr>
        <td>Ma SV:</td>
        <td>SV001</td>
    </tr>
    <tr>
        <td>Ho ten:</td>
        <td>Le Thi Van</td>
    </tr>
    <tr>
        <td>Ngay sinh:</td>
        <td>16-09-2003</td>
    </tr>
    <tr>
        <td>Que quan:</td>
        <td>Nam Từ Liêm, Hà Nội</td>
    </tr>
</table>

