
@{
    ViewBag.Title = "Index";
}

<h2>Doc/ghi File</h2>

    <form action="" method="post">
        <div> Ma SV:</div><input name="Id" />
        <div> Ho tén:</div><input name="Name" />
        <div> Diém:</div><input name="Mark" />
        <hr />
        <input type="submit" value="Luu" formaction="/NhapDiem/Save" />
        <input type="submit" value="Open" formaction="/NhapDiem/Open" />
    </form> <br />

    <p>@ViewBag.HanhDong</p>
    <p>@ViewBag.ThongTin</p>








